<!DOCTYPE html>
{% load static %}
<html lang="zh-Hant">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>聯合派車系統後台</title>

    <!-- font awesome -->

    <link rel="stylesheet" href="{% static 'backboard/styles/css/all.css' %}" />

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->

    <link
      rel="stylesheet"
      href="{% static 'backboard/assets/css/user.css' %}"
    />
    <link
      href="{% static 'backboard/vendors/choices/choices.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'backboard/vendors/flatpickr/flatpickr.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'backboard/vendors/dropzone/dropzone.min.css' %}"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:300,400,500,600,700,800,900&amp;display=swap"
      rel="stylesheet"
    />

    <link
      href="{% static 'backboard/vendors/overlayscrollbars/OverlayScrollbars.min.css' %}"
      rel="stylesheet"
    />

    <link
      href="{% static 'backboard/assets/css/theme-rtl.min.css' %}"
      rel="stylesheet"
      id="style-rtl"
    />

    <link
      href="{% static 'backboard/assets/css/theme.min.css' %}"
      rel="stylesheet"
      id="style-default"
    />

    <link
      href="{% static 'backboard/assets/css/user-rtl.min.css' %}"
      rel="stylesheet"
      id="user-style-rtl"
    />

    <link
      href="{% static 'backboard/assets/css/user.min.css' %}"
      rel="stylesheet"
      id="user-style-default"
    />
    <script>
      var isRTL = JSON.parse(localStorage.getItem("isRTL"));
      if (isRTL) {
        var linkDefault = document.getElementById("style-default");
        var userLinkDefault = document.getElementById("user-style-default");
        linkDefault.setAttribute("disabled", true);
        userLinkDefault.setAttribute("disabled", true);
        document.querySelector("html").setAttribute("dir", "rtl");
      } else {
        var linkRTL = document.getElementById("style-rtl");
        var userLinkRTL = document.getElementById("user-style-rtl");
        linkRTL.setAttribute("disabled", true);
        userLinkRTL.setAttribute("disabled", true);
      }
    </script>
  </head>
  
  {% if user.is_authenticated %}

    <body>
      <main class="main" id="top">
        <div class="container" data-layout="container">
          <script>
            var isFluid = JSON.parse(localStorage.getItem("isFluid"));
            if (isFluid) {
              var container = document.querySelector("[data-layout]");
              container.classList.remove("container");
              container.classList.add("container-fluid");
            }
          </script>

          <!-- NavBar  -->
          <nav
            class="navbar navbar-light navbar-glass navbar-top navbar-expand-lg"
          >
            <button
              class="btn navbar-toggler-humburger-icon navbar-toggler me-1 me-sm-3"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarStandard"
              aria-controls="navbarStandard"
              aria-expanded="false"
              aria-label="Toggle Navigation"
            >
              <span class="navbar-toggle-icon">
                <span class="toggle-line"></span>
              </span>
            </button>

            <a class="navbar-brand me-1 me-sm-3" href="{% url 'home' %}">
              <div class="d-flex align-items-center" style="color: #ffc701">
                <i class="fa-solid fa-taxi"></i>
                聯合派車
              </div>
            </a>

            <!-- NavBar左邊選單 -->
            <div class="collapse navbar-collapse scrollbar" id="navbarStandard">
              <ul
                class="navbar-nav"
                data-top-nav-dropdowns="data-top-nav-dropdowns"
              >
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    id="dashboards"
                    >派車</a
                  >
                  <div
                    class="dropdown-menu dropdown-menu-card border-0 mt-0"
                    aria-labelledby="dashboards"
                  >
                    <div class="bg-white dark__bg-1000 rounded-3 py-2">
                      <a
                        class="dropdown-item link-600 fw-medium"
                        href="{% url 'home' %}"
                        >新增派車</a
                      >
                      <a
                        class="dropdown-item link-600 fw-medium"
                        href="{% url 'dispatch_management' %}"
                        >派車管理</a
                      >
                      <a
                        class="dropdown-item link-600 fw-medium"
                        href="{% url 'dispatch_inquire' %}"
                        >派車紀錄查詢</a
                      >
                    </div>
                  </div>
                </li>

                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    id="dashboards"
                    >人員</a
                  >
                  <div
                    class="dropdown-menu dropdown-menu-card border-0 mt-0"
                    aria-labelledby="dashboards"
                  >
                    <div class="bg-white dark__bg-1000 rounded-3 py-2">
                      <a
                        class="dropdown-item link-600 fw-medium"
                        href="{% url 'passengers' %}"
                        >所有乘客</a
                      >
                      <a
                        class="dropdown-item link-600 fw-medium"
                        href="{% url 'drivers' %}"
                        >所有司機</a
                      >
                      <a
                        class="dropdown-item link-600 fw-medium"
                        href="{% url 'owners' %}"
                        >所有業主</a
                      >
                    </div>
                  </div>
                </li>

                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    id="dashboards"
                    >帳務</a
                  >
                  <div
                    class="dropdown-menu dropdown-menu-card border-0 mt-0"
                    aria-labelledby="dashboards"
                  >
                    <div class="bg-white dark__bg-1000 rounded-3 py-2">
                      <a
                        class="dropdown-item link-600 fw-medium"
                        href="{% url 'credit_topup' %}"
                        >儲值作業</a
                      >
                      <a
                        class="dropdown-item link-600 fw-medium"
                        href="{% url 'accounting_records' %}"
                        >帳務紀錄</a
                      >
                      <a
                        class="dropdown-item link-600 fw-medium"
                        href="{% url 'accounting_statistics' %}"
                        >帳務統計</a
                      >
                    </div>
                  </div>
                </li>
              </ul>
            </div>

            <!-- NavBar右邊使用者項目 -->
            <ul
              class="navbar-nav navbar-nav-icons ms-auto flex-row align-items-center"
            >
              <!-- 登出 -->
              <li class="nav-item">
                <a
                  class="nav-link pe-0 ps-2"
                  id="navbarLogOut"
                  role="button"
                  href="{% url 'login' %}"
                >
                  <i class="fa-solid fa-arrow-right-from-bracket"></i> 登出
                </a>
              </li>
            </ul>
          </nav>
        </div>

        {% block content %}{% endblock %}
      </main>

      <!-- ===============================================-->
      <!--    JavaScripts-->
      <!-- ===============================================-->
      <script src="{% static 'backboard/vendors/popper/popper.min.js' %}"></script>
      <script src="{% static 'backboard/vendors/bootstrap/bootstrap.min.js' %}"></script>
      <script src="{% static 'backboard/vendors/anchorjs/anchor.min.js' %}"></script>
      <script src="{% static 'backboard/vendors/is/is.min.js' %}"></script>
      <script src="{% static 'backboard/vendors/choices/choices.min.js' %}"></script>
      <script src="{% static 'backboard/assets/js/flatpickr.js' %}"></script>
      <script src="{% static 'backboard/vendors/dropzone/dropzone.min.js' %}"></script>
      <script src="{% static 'backboard/vendors/echarts/echarts.min.js' %}"></script>
      <script src="{% static 'backboard/vendors/fontawesome/all.min.js' %}"></script>
      <script src="{% static 'backboard/vendors/lodash/lodash.min.js' %}"></script>
      <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
      <script src="{% static 'backboard/vendors/list.js/list.min.js' %}"></script>
      <script src="{% static 'backboard/assets/js/theme.js' %}"></script>
    </body>

  {% endif %}
</html>
