{% extends 'backboard/base.html' %} {% block content %}
<div class="main">
  <div class="card-body bg-light">
    <div class="row">
      <div class="col-sm"></div>
      <div class="col-sm">
        <div class="my-3 text-center">
          <h4>派車查詢</h4>
        </div>

        <form method="get">
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label" for="inputPhone">消費者電話：</label>
            <div class="col-sm-10">
              <input class="form-control" id="inputPhone" placeholder="電話" name="qPhone"/>
            </div>
          </div>
  
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label" for="inputDriver">司機台號：</label>
            <div class="col-sm-10">
              <input class="form-control" id="inputDriver" placeholder="名稱" name="qUser"/>
            </div>
          </div>
  
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label" for="datePicker">日期：</label>
            <div class="col-sm-10">
              <input class="form-control" id="datePicker" type="date" name="qDate"/>
            </div>
          </div>
  
          <div class="mb-1 mx-5">
            <button
              class="btn btn-primary d-block w-100 mt-3 text-light"
              onclick="location.href='{% url 'dispatch_inquire' %}'"
            >
              <b>查詢</b>
            </button>
          </div>
        </form>
        

        <div class="mt-5">
          <div class="table-responsive scrollbar">
            <table class="table table-hover table-striped overflow-hidden">
              <thead>
                <tr class="table-head-custom">
                  <th scope="col">派車時間</th>
                  <th scope="col">乘客</th>
                  <th scope="col">承接</th>
                  <th scope="col">小計</th>
                </tr>
              </thead>
              <tbody>
                {% for case in cases %}
                <tr class="align-middle">
                  <td class="text-nowrap">
                    {{ case.create_time|date:'Y-m-d' }}<br/>
                    訂單狀態：
                    {% if case.case_state == "canceled" %}
                      取消
                    {% elif case.case_state == "finished" %}
                      完成
                    {% elif case.case_state == "wait" %}
                      未承接
                      <form method="post">{% csrf_token %}
                          <input type="hidden" id="cancel_case_id" name="cancel_case_id" value={{case.id}}>
                          <button class="btn btn-danger d-block w-100 mt-3 text-light"
                            type="submit"
                            name="submit"
                            value="ok"
                            onclick="location.href='{% url 'dispatch_inquire' %}'"
                          >
                            <b>取消訂單</b>
                      </form>
                    {% else %}
                      任務中
                      <form method="post">{% csrf_token %}
                          <input type="hidden" id="cancel_case_id" name="cancel_case_id" value={{case.id}}>
                          <button class="btn btn-danger d-block w-100 mt-3 text-light"
                            type="submit"
                            name="submit"
                            value="ok"
                            onclick="location.href='{% url 'dispatch_inquire' %}'"
                          >
                            <b>取消訂單</b>
                      </form>
                    {% endif %}
                  </td>
                  <td class="text-nowrap">
                    {{ case.customer_name }}<br />
                    {{ case.customer_phone }}<br />
                    上：{{ case.on_address }}<br />
                    下：{{ case.off_address }}
                  </td>
                  <td class="text-nowrap">
                    前往：{{ case.confirm_time }}<br />
                    到達：{{ case.arrived_time }}<br />
                    載客：{{ case.catched_time }}<br />
                    下車：{{ case.off_time }}<br />
                    任務取消：{{ case.memo }}
                  </td>
                  <td class="text-nowrap">
                    車資：{{ case.case_money }} （扣帳：{{ case.dispatch_fee }}）<br/>
                    {% if case.owner and case.user.owner and case.owner == case.user.owner %}
                      分潤：{{ case.owner.name }} {{ case.dispatch_fee }}<br/>
                    {% elif case.owner and case.user.owner == None%}
                      分潤：{{ case.owner.name }} {{ case.dispatch_fee }}<br/>
                    {% elif case.owner == None and case.user.owner%}
                      分潤：{{ case.user.owner.name }} {{ case.dispatch_fee }}<br/>
                    {% elif case.owner and case.user.owner and case.owner != case.user.owner %}
                      分潤：{{ case.owner.name }} {% widthratio case.dispatch_fee 2 1%}, {{ case.user.owner.name}} {% widthratio case.dispatch_fee 2 1%}<br />
                    {% endif %}
                    {% comment %} 分潤：業主A 10 業主B 10<br /> {% endcomment %}
                    司機：{{ case.user }}<br />
                    台號：{{ case.userId}}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

        <div class="text-center">
          {% for page_number in cases.adjusted_elided_pages %} 
            {% if page_number == cases.paginator.ELLIPSIS %} 
              {{page_number}} 
            {% else %}
              <a href="?page={{page_number}}" class="{% if page_number == cases.number %}current{% endif %}">&nbsp;&nbsp;{{page_number}}&nbsp;&nbsp;</a>
            {% endif %} 
          {% endfor %}
        </div>
      </div>

      <div class="col-sm"></div>
    </div>
  </div>
</div>

{% endblock %}
