{% extends 'web/base.html' %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-lg-8">
    
      <script>
        var liffId = "1657014064-LNRQanor"; //開發者後台的 LIFF ID

        liff.init({liffId: liffId,}).then(() => {
            var islogin = liff.isLoggedIn();
            console.log("islogin", islogin);
            

            if (islogin) {
              liff.getProfile().then((profile) => {
                  console.log("profile", profile);
                  document.getElementById("displayName").innerHTML = profile.displayName;
                  document.getElementById("displayName").value = profile.displayName;
                  document.getElementById("displayUserId").innerHTML = profile.userId;
                  document.getElementById("displayUserId").value = profile.userId;
                  
                  var id_data = { line_id: profile.userId }
                  $.ajax({
                    //傳 LINE ID 回後台
                    url: "{% url 'ajax_call_and_wait' %}",
                    data: id_data,
                    type: "GET",
        
                    success: function (response) {
                      var obj = JSON.parse(response); //JSON.parse() = convert text into a JavaScript object
                      if(obj.case_id){
                        if(obj.driver){
                          location.href = "{% url 'map' %}" + "?case_id=" + obj.case_id;
                        }else{
                          pop.show("派車中", "系統派車中，如果要重新叫車，請取消派車...", "取消派車");
                        }
                      }
                    },
        
                    error: function () {
                      console.log("error");
                    },
                  });

                })
                .catch((err) => {
                  pop.show("error", err, "確認");
                  console.log("error", err);
                });
            }
          })
          .catch((err) => {
            console.log(err);
          });
      </script>

      <div class="my-5 text-center">
        <h4>預約租車</h4>
      </div>

      <!-- <form method="GET"> -->
      {% csrf_token %}
      <div class="mb-3 px-5 row">
        <p><span id="displayName"></span> 您好</p>
        <span id="displayUserId" hidden></span>
        <label class="col-sm-2" for="phoneNumber">您的電話</label>
        <div class="col-sm-12">
          <input class="form-control" id="phoneNumber" name="inputPhoneNumber"/>
        </div>
      </div>

      <div class="mb-3 px-5 row">
        <label class="col-sm-2" for="fromLocation">上車地址</label>
        <div class="col-sm-12">
          <input class="form-control" id="fromLocation" name="fromLocation"/>
        </div>
      </div>

      <div class="mb-3 px-5 row">
        <label class="col-sm-2" for="toLocation">下車地址</label>
        <div class="col-sm-12">
          <input class="form-control" id="toLocation" name="toLocation"/>
        </div>
      </div>

      <div class="mb-3 px-5 row">
        <label class="col-sm-2" for="noteToDriver">備註留言</label>
        <div class="col-sm-12">
          <textarea class="form-control" id="noteToDriver" name="noteToDriver" rows="3"></textarea>
        </div>
      </div>

      <div class="mb-1 mx-5">
        <button class="btn btn-warning d-block w-100 mt-3 text-light" type="submit" name="submit" id="btn" >
          <!-- button按了之後要把資料(fake line id)傳給 views 下的 class (method) -->
          <!-- V 然後還要接一個參數 taxi_id 給這頁 -->

          <b>開始叫車</b>
        </button>
      </div>
      <!-- </form> -->

      {% comment %} <script>
        
      </script> {% endcomment %}

      <!-- 後台傳回的 taxi_id -->
      {% comment %}
      <script>
        var theTaxi = {{ objs|safe }}
        console.log(theTaxi.taxi_id)
        // console.log(theTaxi['taxi_id']);
      </script>
      {% endcomment %}

      <!-- pop up 視窗 尋找車輛中-->
      <div id="popwrap">
        <div id="popbox">
          <h5 id="poptitle"></h5>
          <p class="text-center" id="poptext"></p>
          <div class="mb-2 text-center">
            <button
              class="btn btn-success rounded-pill"
              type="cancel"
              onclick="pop.hide()"
              id="pop_button"
            >
              <i class="fa-solid fa-eraser"></i> 取消派車
            </button>
          </div>
        </div>
      </div>

      <script>
        var myVar;

        $("#btn").click(function () {
          //彈出視窗
          pop.show("派車中", "系統車輛尋找中，請稍候...", "取消派車");          
        });

        var pop = {
          show: function (title, text, button_text) {
            document.getElementById("poptitle").innerHTML = title;
            document.getElementById("poptext").innerHTML = text;
            document.getElementById("pop_button").innerHTML = button_text;
            document.getElementById("popwrap").style.display = "flex";

            if(title=="派車中"){
              var id_data = { 
                line_id: document.getElementById("displayUserId").value,
                name: document.getElementById("displayName").value,
                phone: document.getElementById("phoneNumber").value,
                fromLoc: document.getElementById("fromLocation").value,
                toLoc: document.getElementById("toLocation").value,
                memo: document.getElementById("noteToDriver").value,
              };
              
              myVar = setInterval(myTimer, 3000);
              function myTimer() {
                $.ajax({
                  //傳 LINE ID 回後台
                  url: "{% url 'ajax_call_and_wait' %}",
                  data: id_data,
                  type: "GET",
      
                  success: function (response) {
                    console.log("ajax success");
      
                    //回傳配對到的 taxi_id 到頁面
                    console.log(response); //response type: python dictionary
                    var obj = JSON.parse(response); //JSON.parse() = convert text into a JavaScript object
                    console.log(obj.case_id);
                    
                    if(obj.cancel){
                      clearInterval(myVar);
                      pop.show("找不到合適車輛", "不好意思，找不到可接單車輛，請稍後重試！", "確認");
                    }
  
                    //redirect and pass taxi_id
                    if(obj.driver){
                      location.href = "{% url 'map' %}" + "?case_id=" + obj.case_id;
                      clearInterval(myVar);
                    }
                  },
      
                  error: function () {
                    console.log("error");
                  },
                });
              }
            }
          },

          hide: function () {
            document.getElementById("popwrap").style.display = "none";
            clearInterval(myVar);
            //cancel 派車
            var id_data = { 
              line_id: document.getElementById("displayUserId").value,
            };

            $.ajax({
              //傳 LINE ID 回後台
              url: "{% url 'ajax_cancel_case' %}",
              data: id_data,
              type: "GET",
  
              success: function (response) {
                console.log("ajax success");
              },
  
              error: function () {
                console.log("error");
              },
            });
          },
        };
      </script>
    </div>
    <div class="col"></div>
  </div>
</div>

{% endblock %}