{% extends 'web/base.html' %} {% block content %}

<div id="map"></div>
    <div class="info d-flex flex-row justify-content-center">
      <div class="div"></div>
      <div class="div col-10">
        <h6>乘車資訊</h6>      
          <i class="fa-solid fa-location-crosshairs"></i><span id="onAddressedText"> {{case.on_address}}</span></br>
          <i class="fa-solid fa-location-dot"></i> {{case.off_address}}</br>
          <i class="fa-solid fa-car-side"></i> 前往中</br>
          <p>車號：{{driver.vehicalLicence}}</br>{{ driver.car_color }} {{ driver.car_model }} {{ driver.number_sites }} 人 
            {% if driver.type == 'car' %}
              房車
            {% elif driver.type == 'suv' %}
              休旅車
            {% elif driver.type == 'sports_car' %}
              跑車
            {% elif driver.type == 'van' %}
              箱型車
            {% endif %}
            {{ theType }} 
            
            {% if driver.category == 'taxi' %}
              計程車
            {% elif driver.category == 'diversity' %}
              多元
            {% elif driver.category == 'rental_car' %}
              租賃車
            {% elif driver.category == 'x_card' %}
              X牌
            {% endif %}</p>
          <div class="mb-2 d-flex flex-row justify-content-between">
            {% comment %} <button class="btn btn-success rounded-pill" type="cancel" id="button_cancelCase"><i class="fa-solid fa-eraser"></i> 取消派車</button> {% endcomment %}
            <button class="btn btn-warning rounded-pill" type="callDriver" id="button_callDriver"><i class="fa-solid fa-phone"></i> 聯絡司機</button>
          </div>
      </div>
      <div class="div"></div>
    </div>

    <script>
      
      window.onload = function() {
        var a = "{{direct_call}}";
        if (a=="true") {
          pop.show("派車中", "為您尋找車輛中~~", "取消派車");
        }
      };

      var pop = {
        show: function (title, text, button_text) {
          document.getElementById("poptitle").innerHTML = title;
          document.getElementById("poptext").innerHTML = text;
          document.getElementById("pop_button").innerHTML = button_text;
          document.getElementById("popwrap").style.display = "flex";
        },
        hide: function () {
          document.getElementById("popwrap").style.display = "none";
          var id_data = { 
            case_id: {{case.id}},
          };
          $.ajax({
            //傳 LINE ID 回後台
            url: "{% url 'ajax_cancel_case_by_case_id' %}",
            data: id_data,
            type: "GET",
  
            success: function (response) {
              if(document.referrer.includes("back")){
                history.back();
              }else{
                var a = document.referrer +'?back=true';
                location.href = a;
              }
            },
  
            error: function () {
              console.log("error");
            },
          }); 
        },
      };

      $("#button_callDriver").click(function () {
        //彈出視窗
        var phone = "0"+{{ case.user.phone }}
        window.open('tel:'+phone);         
      });

      $("#button_cancelCase").click(function () {
        //彈出視窗
        var id_data = { 
          case_id: {{case.id}},
        };

        $.ajax({
          //傳 LINE ID 回後台
          url: "{% url 'ajax_cancel_case_by_case_id' %}",
          data: id_data,
          type: "GET",

          success: function (response) {
            console.log("ajax success");
            location.href = "{% url 'booking' %}"
          },

          error: function () {
            console.log("error");
          },
        });        
      });
    </script>

    <script>
      function initMap() {
        var latlng = { lat: 25.046891, lng: 121.516602 }; // 給一個初始位置
        var map = new google.maps.Map(document.getElementById("map"), {
          zoom: 14, //放大的倍率
          center: latlng, //初始化的地圖中心位置
        });
        var marker = new google.maps.Marker({
          position: latlng,
          map: map,
        });
        var on_lat = {{case.on_lat|default_if_none:"null"}};
        var on_lng = {{case.on_lng|default_if_none:"null"}};

        if(on_lat){
          var pos = {
            lat: on_lat,
            lng: on_lng,
          };
          var marker = new google.maps.Marker({
            position: pos,
            map: map,
          });
          map.setZoom(17);
          map.setCenter(pos);
        }else if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function (position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude,
            };
            var marker = new google.maps.Marker({
              position: pos,
              map: map,
            });
            map.setZoom(17);
            map.setCenter(pos);
            // ajax update lat lng
            case_id = {{ case.id }}
            var id_data = { lat: pos.lat, lng: pos.lng, case_id: case_id}
            $.ajax({
              //傳 LINE ID 回後台
              url: "{% url 'ajax_update_lat_lng' %}",
              data: id_data,
              type: "GET",
  
              success: function (response) {
                var obj = JSON.parse(response);
                if(obj.address){
                  document.getElementById("onAddressedText").innerHTML = obj.address;

                  var id_data = { 
                    case_id: {{case.id}},
                  };

                  myVar = setInterval(myTimer, 3000);
                  function myTimer() {
                    $.ajax({
                      //傳 LINE ID 回後台
                      url: "{% url 'ajax_direct_call_wait' %}",
                      data: id_data,
                      type: "GET",
          
                      success: function (response) {
                        console.log("ajax success");
          
                        //回傳配對到的 taxi_id 到頁面
                        console.log(response); //response type: python dictionary
                        var obj = JSON.parse(response); //JSON.parse() = convert text into a JavaScript object
                        console.log(obj.case_id);
                        
                        if(obj.cancel){
                          clearInterval(myVar);
                          pop.show("找不到合適車輛", "不好意思，找不到可接單車輛，請稍後重試！", "確認");
                        }

                        //redirect and pass taxi_id
                        if(obj.driver){
                          location.href = "{% url 'map' %}" + "?case_id=" + obj.case_id;
                          clearInterval(myVar);
                        }
                      },
          
                      error: function () {
                        console.log("error");
                      },
                    });
                  }

                }
              },
              error: function () {
                console.log("error");
              },
            });
          });
        } else {
          // Browser doesn't support Geolocation
          alert("未允許或遭遇錯誤！");
        }
      } //init_end
    </script>
    <script
      async
      defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrzmspoFyEFYlQyMqhEkt3x5kkY8U3C-Y&callback=initMap"
    ></script>

    <!-- pop up 視窗 尋找車輛中-->
    <div id="popwrap">
      <div id="popbox">
        <h5 id="poptitle"></h5>
        <p class="text-center" id="poptext"></p>
        <div class="mb-2 text-center">
          <button
            class="btn btn-success rounded-pill"
            type="cancel"
            onclick="pop.hide()"
            id="pop_button"
          >
            <i class="fa-solid fa-eraser"></i> 取消派車
          </button>
        </div>
      </div>
    </div>


{% endblock %}

