
<!DOCTYPE html>
{% load static %}
<html lang="zh-Hant">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>聯合派車系統後台</title>

  
    <!-- font awesome -->
    <link rel="stylesheet" href="{% static 'backboard/styles/css/all.css' %}" />

   
    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link rel="stylesheet" href="{% static 'backboard/assets/css/user.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">
    <link href="{% static 'backboard/vendors/overlayscrollbars/OverlayScrollbars.min.css' %}" rel="stylesheet">
    <link href="{% static 'backboard/assets/css/theme-rtl.min.css' %}" rel="stylesheet" id="style-rtl">
    <link href="{% static 'backboard/assets/css/theme.min.css' %}" rel="stylesheet" id="style-default">
    <link href="{% static 'backboard/assets/css/user-rtl.min.css' %}" rel="stylesheet" id="user-style-rtl">
    <link href="{% static 'backboard/assets/css/user.min.css' %}" rel="stylesheet" id="user-style-default">
    <script>
      var isRTL = JSON.parse(localStorage.getItem('isRTL'));
      if (isRTL) {
        var linkDefault = document.getElementById('style-default');
        var userLinkDefault = document.getElementById('user-style-default');
        linkDefault.setAttribute('disabled', true);
        userLinkDefault.setAttribute('disabled', true);
        document.querySelector('html').setAttribute('dir', 'rtl');
      } else {
        var linkRTL = document.getElementById('style-rtl');
        var userLinkRTL = document.getElementById('user-style-rtl');
        linkRTL.setAttribute('disabled', true);
        userLinkRTL.setAttribute('disabled', true);
      }
    </script>




  </head>

  <body>
  
    <main class="main" id="top">
      <div class="container" data-layout="container">
        <script>
          var isFluid = JSON.parse(localStorage.getItem("isFluid"));
          if (isFluid) {
            var container = document.querySelector("[data-layout]");
            container.classList.remove("container");
            container.classList.add("container-fluid");
          }
        </script>


        <div class="row flex-center min-vh-100 py-6">
          <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
            <span class="fw-bolder fs-5 d-inline-block" style="color: #ffc701;"><i class="fa-solid fa-taxi"></i> 聯合派車後台系統</span>
            
              

            {% comment %} {% block content %}

                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <table>
                    <tr>
                        <td>{{ form.username.label_tag }}</td>
                        <td>{{ form.username }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.password.label_tag }}</td>
                        <td>{{ form.password }}</td>
                    </tr>
                    </table>
                    <input type="submit" value="login" />
                    <input type="hidden" name="next" value="{{ next }}" />
                </form>

                {# Assumes you setup the password_reset view in your URLconf #}
                <p><a href="{% url 'password_reset' %}">Lost password?</a></p>

            {% endblock %} {% endcomment %}
            
            {% if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
            {% endif %}

            {% if next %}
                {% if user.is_authenticated %}
                <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
                {% else %}
                <p>Please login to see this page.</p>
                {% endif %}
            {% endif %}

            <div class="card">
              <div class="card-body p-4 p-sm-5">
                <div class="row flex-between-center mb-2"></div>
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <input
                        class="form-control"
                        type="text"
                        name="username"
                        autocapitalize="none"
                        autocomplete="username"
                        maxlength="10"
                        placeholder="帳號"
                        />
                    </div>
                    <div class="mb-3">
                        <input
                        class="form-control"
                        type="password"
                        name="password"
                        autocomplete="current-password"
                        id="id_password"
                        placeholder="密碼"
                        />
                    </div>
                    <div class="row flex-between-center">
                        <div class="col-auto"></div>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-warning d-block w-100 mt-3 text-light" type="submit" name="submit" value="login" onclick="location.href='{% url 'home' %}'">
                            登入
                        </button>
                        <input type="hidden" name="next" value="{{ next }}" />
                    </div>
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>












    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="{% static 'backboard/vendors/popper/popper.min.js' %}"></script>
    <script src="{% static 'backboard/vendors/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'backboard/vendors/anchorjs/anchor.min.js' %}"></script>
    <script src="{% static 'backboard/vendors/is/is.min.js' %}"></script>
    <script src="{% static 'backboard/vendors/echarts/echarts.min.js' %}"></script>
    <script src="{% static 'backboard/vendors/fontawesome/all.min.js' %}"></script>
    <script src="{% static 'backboard/vendors/lodash/lodash.min.js' %}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="{% static 'backboard/vendors/list.js/list.min.js' %}"></script>
    <script src="{% static 'backboard/assets/js/theme.js' %}"></script>
  </body>
</html>